<div class="container">
  <div class="jumbotron">
    <div class="logo">
      <%= image_tag 'logo.png' %>
    </div>
    <div class="form-group">
      <form action="<%= users_path %>" method="POST"
          autocomplete="false">
        <input type="hidden" name="authenticity_token"
          value="<%= form_authenticity_token %>">

        <input class="form-control" type="username" name="user[username]"
          placeholder="Username" required maxlength="20"><br/>
        <input class="form-control" type="email" name="user[email]"
          placeholder="Email" required maxlength="30"><br/>
        <input class="form-control" type="password" name="user[password]"
          placeholder="Create a password" required maxlength="20"><br/>
        <input class="btn" type="submit" value="Sign up">
        <a class="link" href="/">login</a>
      </form>
    </div>
  </div>
  <div class="tea">
    <%= image_tag 'tea.png' %>
  </div>
  <div class="pencil">
  <%= image_tag 'pencil.png' %>
  </div>
</div>
